{%extends 'liscence/base.html'%} {%block head%}
<style>
    .select-head {
            text-align: center;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 15px;
        }
        
        input {
            text-transform: capitalize;
        }
        
        .top-cate {
            text-align: center;
        }
        
        .active {
            background-color: aquamarine
        }

        form{
          margin-top:15px;
        }

</style>
{%endblock%} {%block title%} Add-Clients {%endblock%} {%block content%}
<div class="top-cate">
    <a href="{%url 'add_clients' %}" type="button" class="btn btn-secondary btn-lg active">NewLicense</a>
    <a type="button" href="#" class="btn btn-secondary btn-lg">AddCategory</a>
</div>

<form id="add-form" method='POST'>
  {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" name="firstname" class="form-control" placeholder="First Name" required />
        </div>
        <div class="form-group col-md-6">
            <input type="text" name="lastname" class="form-control" placeholder="Last Name" required />
        </div>
    </div>

    <div class="form-group">
      <div class="form-group col-md-5"></div>
        <label>License Number</label>
        <input name="licenseNumber" type="text" class="form-control" required/>
      </div>
      <div class="form-group col-md-8">
        <label>Mobile Number</label>
        <input name="mobileNumber" type="number" class="form-control" />
      </div>
      <div class="form-group col-md-4">
        <label>English DOB</label>
        <input name="dob" type="date" class="form-control" required/>
      </div>
    </div>
    
    <!-- Category -->
    <table width="100%">
        <thead>
            <tr>
                <th colspan="4" align="center">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label id="appEntry_com_eagle_edlvrs_dl_action_NewDlApplicationEntryAction_exam_selectedcategories">SELECT CATEGORY</label
          >
          <font style="color: red">* </font>
        </td>
        <td>
          <table id="tbl1">
            <tbody>
              <tr>
                <td>
                  <input
                    type="radio"
                    name="cate"
                    id="cate1"
                    value="1"
                    style="font-size: bold"
                    required
                  /><label for="cate1" style="font-size: bold"
                    >A-Motorcycle, Scooter, Moped</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate2"
                    value="2"
                    style="font-size: bold"
                  /><label for="cate2" style="font-size: bold"
                    >B-Car, Jeep, Delivery Van</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate3"
                    value="3"
                    style="font-size: bold"
                  /><label for="cate3" style="font-size: bold"
                    >C-Tempo, Autorickshaw</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate23"
                    value="23"
                    style="font-size: bold"
                  /><label for="cate23" style="font-size: bold"
                    >C1-ERickshaw</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate4"
                    value="4"
                    style="font-size: bold"
                  /><label for="cate4" style="font-size: bold"
                    >D-Powertiller</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate5"
                    value="5"
                    style="font-size: bold"
                  /><label for="cate5" style="font-size: bold"
                    >E-Tractor, Trailer Tractor (Low Bed)</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate6"
                    value="6"
                    style="font-size: bold"
                  /><label for="cate6" style="font-size: bold"
                    >F-Minibus, Minitruck</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate7"
                    value="7"
                    style="font-size: bold"
                  /><label for="cate7" style="font-size: bold"
                    >G-Truck, Bus, Lorry</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate8"
                    value="8"
                    style="font-size: bold"
                  /><label for="cate8" style="font-size: bold"
                    >H-Road Toller, Dozer</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate21"
                    value="21"
                    style="font-size: bold"
                  /><label for="cate21" style="font-size: bold">H1-DOZER</label>
                    <br />

                    <input type="radio" name="cate" id="cate22" value="22" style="font-size: bold" /><label for="cate22" style="font-size: bold">H2-ROAD ROLLER</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate9"
                    value="9"
                    style="font-size: bold"
                  /><label for="cate9" style="font-size: bold"
                    >I-Crane, Fire brigade, Loader</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate14"
                    value="14"
                    style="font-size: bold"
                  /><label for="cate14" style="font-size: bold"
                    >I1-CRANE, MOBILE CRANE, CRANE MOUNTED TRUCK</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate15"
                    value="15"
                    style="font-size: bold"
                  /><label for="cate15" style="font-size: bold"
                    >I2-FIRE BRIGADE</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate16"
                    value="16"
                    style="font-size: bold"
                  /><label for="cate16" style="font-size: bold"
                    >I3-LOADER</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate17"
                    value="17"
                    style="font-size: bold"
                  /><label for="cate17" style="font-size: bold"
                    >J1-EXCAVATOR</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate18"
                    value="18"
                    style="font-size: bold"
                  /><label for="cate18" style="font-size: bold"
                    >J2-BACKHOE LOADER</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate19"
                    value="19"
                    style="font-size: bold"
                  /><label for="cate19" style="font-size: bold"
                    >J3-GRADER</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate20"
                    value="20"
                    style="font-size: bold"
                  /><label for="cate20" style="font-size: bold"
                    >J4-FORKLIFT</label
                  >
                  <br />

                  <input
                    type="radio"
                    name="cate"
                    id="cate10"
                    value="10"
                    style="font-size: bold"
                  /><label for="cate10" style="font-size: bold">J5-Other</label>
                    <br />

                    <input type="radio" name="cate" id="cate50" value="50" style="font-size: bold" /><label for="cate50" style="font-size: bold">K-Scooter, Moped</label
                  >
                  <br />
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="application">
    <table width="100%">
        <tbody><tr>
            <td>
                <label id="appEntry_com_eagle_edlvrs_dl_action_NewDlApplicationEntryAction_selectzone">SELECT ZONE</label>
                    <font style="color: red">* </font>
                </td>
                <td>
                    <div id="wwgrp_selectedZone" class="wwgrp">
                        <div id="wwctrl_selectedZone" class="wwctrl">
                            <select name="appliedZoneOffice" id="selectedZone" class="textfield" onchange="loadLicenseIssueOffice()" required="true">
                                <option value="">Select</option>
                                <option value="1">Mechi</option>
                                <option value="2">Koshi</option>
                                <option value="3">Sagarmatha</option>
                                <option value="4">Janakpur</option>
                                <option value="5">Narayani</option>
                                <option value="6">Bagmati</option>
                                <option value="7">Gandaki</option>
                                <option value="8">Lumbini</option>
                                <option value="9">Dhawalagiri</option>
                                <option value="12">Bheri</option>
                                <option value="13">Seti</option>
                                <option value="14">Mahakali</option>
                                <option value="10">Rapti</option>


</select>


                            </select>





                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label id="appEntry_com_eagle_edlvrs_dl_action_NewDlApplicationEntryAction_license_issue_office">LICENSE ISSUE OFFICE</label>
                    <font style="color: red">* </font>
                </td>
                <td>

                    <div dojotype="struts:BindDiv" preload="false" id="dojoLicenseIssueOffice" formid="appEntry" href="/loadLicenesIssueOfficeForDl.action" listentopics="dojoLicenseIssueOffice" showerror="true" parsecontent="true">





                        <div id="wwgrp_LicenseIssueOffice" class="wwgrp">
                            <div id="wwctrl_LicenseIssueOffice" class="wwctrl">
                                <select name="licenseIssueOffice" id="LicenseIssueOffice" class="textfield" required="false">
<option value="">Select</option>
<option value="8">Lumbini,Nepal</option>
<option value="3063">Transport Management Office, Nawalparasi (Bardaghat Susta Purba)</option>
<option value="26">JAGATI-BHAKTAPUR</option>
    <option value="27">THULOBHARYANG-KATHMANDU</option>
    <option value="28">CHABAHIL-KATHMANDU</option>
    <option value="1">Bagmati,Lalitpur,Nepal</option>
    <option value="7">Gandaki,Kaski,Nepal</option>
    <option value="5">Birgunj,Narayani,Nepal(NARAYANI)</option>
    <option value="3058">Hetauda(NARAYANI)</option>
    <option value="6">Mechi,Birtamode</option>
    <option value="2">Koshi</option>
    <option value="3">Lahan,Sagarmatha,Nepal</option>
    <option value="3060">Transport Management Service Office, Gaighat(Sagarmatha)</option>
    <option value="4">Janakpur,Nepal</option>      
    <option value="16">BARDIBAS-MAHOTTARI(JANAKPUR)</option>        
    <option value="9">Dhaulagiri,Nepal</option>       
    <option value="12">Veri,Nepal</option>   
    <option value="3055">Transport Management Office Surkhet (BHERI)</option>   
    <option value="13">Seti,Nepal</option>    
    <option value="14">Mahakali,Nepal</option>
    <option value="10">Rapti,Nepal</option>


</select>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <input id="submitData" style="margin:50px 5px" type="submit" class="btn btn-primary btn-lg btn-block">
</form>

{%endblock%} 