{%extends 'liscence/base.html'%} 

{%block head%}
<style>
    .modal-backdrop {
        display: none;
    }

    .flex-container {
        display: flex;
    }
    
    .flex-item-left {
        flex: 80%;
    }
    
    .flex-item-right {
        margin-left: 5%;
        background: #eaeaea;
        padding: 10px;
        flex: 20%;
    }
    
    .cate {
        padding: 10px 0;
    }
</style>
{%endblock%}

{%block content%}

<div class="flex-container">

    <div class="flex-item-left">
        <div class="alert alert-success">
            <strong>Total Clients: </strong> <span id='client_count'>{{counts}}</span>  
        </div>

        <table id='ctable' class="table table-striped" style="text-align: center;">

            <thead style="font-weight:900;color:red;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Added</th>
                    <th scope="col">Submitted</th>
                    {%if user.is_superuser%}
                    <th scope="col">Submitted By</th>
                    {%endif%}
                </tr>
            </thead>

            <tbody style="font-size:15px;font-weight:600;">
                {%for client in clients%}
                
                {%if client.submitted %}
                <tr class="ctr" style="background: #66ff66" cid="{{client.id}}">
                {%elif not client.allow %}
                <tr class="ctr" style="background: #8D3C2B" cid="{{client.id}}">
                {%else%}
                <tr class="ctr" cid="{{client.id}}">
                {%endif%}

                    <td class="fullName">{{client.full_name}}</td>

                    <td style="text-align:center;">
                        {{client.category}}<br>
                        [{{client.statusType.upper}}]
                    </td>

                    <td>
                        <button class="mobno">
                            {{client.mobileNumber}}
                        </button>
                    </td>

                    <td>{{client.clientAddedAt.date}}</td>

                    <td style="white-space: normal !important;">
                        {%if not client.submitted%}
                            <button
                                {%if user.is_superuser%}
                                class="notSub"
                                {%endif%}
                            >
                                &#10060;
                            </button>
                        {%else%}
                            <a style="color:red;" href="{{client.success_url}}">
                                {{client.clientSubmittedAt.date}}
                            </a>
                        {%endif%}
                    </td>

                    {%if user.is_superuser%}
                    <td class="entU" allow="{{client.allow}}">
                        {%if client.submitted and client.success_url%}
                            {{client.submitted_by}}
                        {%elif client.submitted and not client.success_url%}
                            {%for u in client.entry_users%}
                            {{u}},
                            {%endfor%}
                        {%else%}
                            <button class="editEntries">
                                {%for u in client.entry_users%}
                                {{u}},
                                {%endfor%}
                            </button>
                        {%endif%}
                    </td>
                    {%endif%}

                    <td id="{{client.id}}" style="width: 10%" cid="{{client.id}}">
                        <span style="width: 100%" data-placement="top" data-toggle="tooltip" title="Delete">
                            <button
                                class="btn btn-danger btn-xs deleteBtn"
                                data-title="Delete"
                                data-toggle="modal"
                            >
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <span style="width: 100%;margin-top:2px;">
                            <button class="btn btn-primary allow-btn" role="button" value="{{client.allow}}">
                                Allow?
                            </button>
                        </span>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%if not nomore %}
        <button type="button" id="loadMoreBtn" class="btn btn-primary btn-lg btn-block">Load More</button>
        {%endif%}
    </div>

    <div style="width:200px;" class="flex-item-right" id="filterForm">
        <div style='margin-bottom:25px;text-align:center;'  class='search'>
            <input id='search_text' type="text" placeholder="Name or Phone Number">
            <button id='srcbtn' style='margin-top:5px;' type="button" class="btn btn-primary">Search</button>
        </div>
        <form method="POST" action="{%url 'clients_filter'%}">
            {%csrf_token%}
            <div style="background:#447e9b;color:white;text-align:center;font-weight:600">Filter</div>

            {%if user.is_superuser%}
            <div class="cate" id='institute'>
                <div style="font-weight:900">By Staff</div>
                <div>
                    <select style="font-size:16px;" class="browser-default custom-select" name="staffs" id="institutes">
                        <option value="all">All</option>
                        {%for staff in staffs%}
                        <option value="{{staff.uid}}">{{staff.display_name}}</option>
                        {%endfor%}
                    </select>
                </div>
            </div>
            

            <div class="cate" id='submitted_by'>
                <div style="font-weight:900">By Submitted_by</div>
                <div>
                    <select style="font-size:16px;" class="browser-default custom-select" id="sb" name="submitted_by">
                      <option value="all">All</option>
                      {%for user in users%}
                      <option value="{{user.uid}}">{{user.uid}}</option>
                      {%endfor%}
                    </select>
                </div>
            </div>

            <div class="cate" id='entry_users'>
                <div style="font-weight:900">By EntryUsers</div>
                <div>
                    <select style="font-size:16px;" class="browser-default custom-select" id="eu" name="entry_users">
                      <option value="all">All</option>
                      {%for user in users%}
                      <option value="{{user.uid}}">{{user.uid}}</option>
                      {%endfor%}
                    </select>
                </div>
            </div>

            <div class="cate" id='allow_clients'>
                <div style="font-weight:900">By Allow Clients</div>
                <div>
                    <select style="font-size:16px;" class="browser-default custom-select" id="ac" name="allow_clients">
                      <option value="all">All</option>
                      <option value="yes">Yes</option>
                      <option value="no">No</option>
                    </select>
                </div>
            </div>
            {%endif%}
            
            <div class="cate" id="submitted">
                <div style="font-weight:900">By Submitted</div>
                <div>
                    <input class="ckb" name="submitted" type="radio" id="staffCheck0" checked="checked" value="all" {%if submitted_all%} checked="checked" {%endif%} />
                    <label for="staffCheck0"> All </label>
                </div>
                <div>
                    <input class="ckb" name="submitted" type="radio" id="staffCheck1" value="yes" {%if submitted_yes%} checked="checked" {%endif%} />
                    <label for="staffCheck1"> Yes </label>
                </div>

                <div>
                    <input class="ckb" name="submitted" type="radio" id="staffCheck2" value="no" {%if submitted_no%} checked="checked" {%endif%} />
                    <label for="staffCheck2"> NO </label>
                </div>
            </div>
            <br>



            <div class="cate" id="category">
                <div style="font-weight:900">By Category</div>
                <div>
                    <input class="ckb" name="cate" type="radio" id="check332" checked="checked" value="all" {%if cate_all%} checked="checked" {%endif%} />
                    <label for="check332"> All </label>
                </div>

                <div>
                    <input class="ckb" name="cate" type="radio" id="check32" value="A" {%if cateA%} checked="checked" {%endif%} />
                    <label for="check32"> A </label>
                </div>
                <div>
                    <input class="ckb" name="cate" type="radio" id="check3" value="B" {%if cateB%} checked="checked" {%endif%} />
                    <label for="check3"> B </label>
                </div>

                <div>
                    <input class="ckb" name="cate" type="radio" id="check4" value="K" {%if cateK%} checked="checked" {%endif%} />
                    <label for="check4"> K </label>
                </div>
            </div>

            <div class="cate" id="added_date">
                <div style="font-weight:900">By Added Date</div>
                <div>
                    <input class="ckb" name="added_date" type="radio" id="09223" value="all" {%if added_at_all%} checked="checked" {%endif%} />
                    <label for="09223"> All Date </label>
                </div>
                <div>
                    <input class="ckb" name="added_date" type="radio" id="staffCheck4" value="today" {%if added_at_today%} checked="checked" {%endif%} />
                    <label for="staffCheck4"> Today </label>
                </div>

                <div>
                    <input class="ckb" name="added_date" type="radio" id="staffCheck5" value="week" {%if added_at_week%} checked="checked" {%endif%} />
                    <label for="staffCheck5"> Last 7 Days </label>
                </div>


                <div>
                    <input class="ckb" name="added_date" type="radio" id="staffCheck6" value="month" {%if added_at_month%} checked="checked" {%endif%} />
                    <label for="staffCheck6"> Last 30 Days </label>
                </div>
            </div>

            <div class="cate" id="submitted_date">
                <div style="font-weight:900">By Submitted Date</div>
                <div>
                    <input class="ckb" name="submitted_date" type="radio" id="staffCheck8" checked="checked" value="all" {%if submitted_at_all%} checked="checked" {%endif%} />
                    <label for="staffCheck8"> All Date </label>
                </div>
                <div>
                    <input class="ckb" name="submitted_date" type="radio" id="staffCheck9" value="today" {%if submitted_at_today%} checked="checked" {%endif%} />
                    <label for="staffCheck9"> Today </label>
                </div>

                <div>
                    <input class="ckb" name="submitted_date" type="radio" id="staffCheck11" value="week" {%if submitted_at_week%} checked="checked" {%endif%} />
                    <label for="staffCheck11"> Last 7 Days </label>
                </div>

                <div>
                    <input class="ckb" name="submitted_date" type="radio" id="staffCheck22" value="month" {%if submitted_at_month%} checked="checked" {%endif%} />
                    <label for="staffCheck22"> Last 30 Days </label>
                </div>
            </div>

            <p style="padding:10px 0"><input style="width:100%" class="btn btn-primary" id="filterGet" type="submit" value="Get Value" /></p>
        </form>
        <input type="hidden" id="last_client_added_at" value="{{last_client_added_at}}"/>
    </div>
    {%endblock%}


    {%block script%}
    <script>
        $(document).ready(function() {
            $(document).on("click", ".deleteBtn", function() {
                event.preventDefault();
                var id = $(this).parents("td").attr("id");
                var name = $(this).parents("td").siblings(".fullName").html();
                if (
                    confirm(`Are you sure you want to delete user ${name} ?`)
                ) {
                    $(this).parents(".ctr").remove();
                    $.ajax({
                        type: "POST",
                        url: '{%url "delete_client"%}',
                        dataType: "json",
                        data: {
                            id: `${id}`,
                            csrfmiddlewaretoken: "{{csrf_token}}"
                        },
                    });
                }
            });
            $("[data-toggle=tooltip]").tooltip();

            $('select#institutes').val('{{staff}}');
            $('select#sb').val('{{submitted_by}}');
            $('select#eu').val('{{entry_users}}');
            $('select#ac').val('{{allow_clients}}');

            $('#ctable').on("click", '.notSub', function(){
                var refNo=prompt("If this client is registered, enter the refrence number:");
                if (refNo!=null && refNo.trim()!='') {
                    refNo=refNo.trim();
                    var client_id = $(this).parents("tr").attr("cid");
                    $(this).parents("tr").css("background-color","#66ff66");
                    $(this).parents("td").html(
                        `<a style="color:red;" href="/sl/${client_id}">
                            Today
                        </a>`
                    );
                    $.ajax({
                        type: "POST",
                        url: '{%url "subUpdate"%}',
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken:'{{csrf_token}}',
                            client_id: client_id,
                            refNo:refNo,
                        },
                    });
                }
            });

            $('#ctable').on("click",".mobno",function(){
                var mNumber=prompt("Change Mobile Number:");
                if (mNumber!=null && mNumber.trim()!='') {
                    mNumber=mNumber.trim();
                    var client_id = $(this).parents("tr").attr("cid");
                    $.ajax({
                        type: "POST",
                        url: '{%url "mobileUpdate"%}',
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken:'{{csrf_token}}',
                            client_id: client_id,
                            mobileNumber:mNumber,
                        },
                        success: (data)=> {
                            $(this).html(mNumber);
                        },
                    });
                }
            });

            $('#ctable').on("click",'.allow-btn',function(){
                var client_id = $(this).parents("tr").attr("cid");
                console.log(client_id)
                if ($(this).val()=="True")
                    var allow = false
                else
                    var allow = true

                console.log(allow)
                $.ajax({
                        type: "POST",
                        url: '{%url "allowUpdate"%}',
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken:'{{csrf_token}}',
                            client_id: client_id,
                            allow:allow,
                        },
                        success: (data)=> {
                            if (data.allow) {
                                $(this).val("True");
                                $(this).parents('tr').css('background', 'white');
                            }
                            else {
                                $(this).val("False");
                                $(this).parents('tr').css('background', '#8D3C2B');
                            }
                        },
                    });
            })

            $('#ctable').on("click",'.editEntries', function(){
                var entry_users=$(this).html().replace(/\s/g,'');
                if (entry_users.slice(0,-1)==',')
                    entry_users=entry_users.slice(0,-1);
                var entryUsers=prompt("Edit Entry Users:",entry_users);
                if (entryUsers!=null && entryUsers.trim()!=''){
                    var client_id=$(this).parents("tr").attr('cid');
                    $(this).html(entryUsers);
                    $.ajax({
                        type: "POST",
                        async: false,
                        cache: false,
                        url:"{%url 'edit_entryUsers'%}",
                        dataType:'json',
                        data:{
                            csrfmiddlewaretoken:'{{csrf_token}}',
                            client_id:client_id,
                            entryUsers:entryUsers,
                        },
                    })
                }
            });

            $('#loadMoreBtn').click(function(){
                var last_client_added_at = $("#last_client_added_at").val();
                {%if not request.user.is_superuser%}
                var staff = '{{request.user.username}}';
                {%else%}
                var staff = ""
                {%endif%}

                // ajax call get data from server and append to the div
                $.ajax({
                    type: "POST",
                    url: "{% url 'get_clients' %}",
                    dataType: "json",
                    data:{
                        staff:staff,
                        last_client_added_at:last_client_added_at,
                        csrfmiddlewaretoken:'{{csrf_token}}',
                    },
                    success: function(data) {    
                        var clients = data.clients;
                        if (data.nomore)
                            $('#loadMoreBtn').hide();  

                        $('#last_client_added_at').val(data.last_client_added_at);

                        

                        clients.forEach(add_row);

                    },
                });
            });

            var fullname = (client) => {return `<td class="fullName">${client.full_name}</td>`};
            var category = (client) => {return  `<td>${client.category}<br>[${client.statusType.toUpperCase()}]</td>`};
            

            var contact = (client) => {
                var mobno = client.mobileNumber;
                if (mobno==null)
                    mobno="";
                return `<td><button class='mobno'>${mobno} </button></td>`
            };

            var added = (client) => {
                var added_readable_date = new Date(client.clientAddedAt).toDateString();

                return  `<td>${added_readable_date.substring(3)}</td>`
            };

            var submitted = (client) => {
                var sub =  `<td style="white-space: normal !important;">`;
                if (client.submitted==false){
                    sub += (
                        `<button
                                {%if user.is_superuser%}
                                class="notSub"
                                {%endif%}
                            >
                                &#10060;
                            </button>`
                    );
                }
                else{
                    var submitted_readable_date = new Date(client.clientSubmittedAt).toDateString();
                    sub += (
                        `<a style="color:red;" href="{%url 'success_link' client_id=1 %}">
                            ${submitted_readable_date}
                        </a>`
                    );
                }
                return sub.concat(`</td>`);
            };
            
            var entU = (client) => {
                if (client.allow)
                    var allow = 'True'
                else
                    var allow = 'False'
                var edata = `<td class="entU" allow=${allow}>`;
                var entry_users = client.entry_users;
                if (entry_users==null)
                    entry_users="";
                if (client.submitted==true && 'success_url' in client)
                    edata += client.submitted_by;
                else if(client.submitted == true && !('success_url' in client))
                    for (var i=0;i<entry_users.length;i++)
                        edata += entry_users[i]+",";
                else
                    edata += '<button class="editEntries">'+entry_users+'</button>';
                    
                return edata.concat('</td>');
            };

            var action = (client) => {
                if (client.allow)
                    var allow='True'
                else
                    var allow='False'
                return (
                    `<td id="${client.id}" style="width: 10%" cid="${client.id}">
                        <span style="width: 100%" data-placement="top" data-toggle="tooltip" title="Delete">
                            <button
                                class="btn btn-danger btn-xs deleteBtn"
                                data-title="Delete"
                                data-toggle="modal"
                            >
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                        <span style="width: 100%;margin-top:2px;">
                            <button class="btn btn-primary allow-btn" role="button" value="${allow}">
                                Allow?
                            </button>
                        </span>
                    </td>`
                );
                
            }
                

            var add_row = (client) =>{
                if(client.submitted==true)
                    var tr = `<tr class="ctr" style="background: #66ff66" cid="${client.id}">`;
                else if(client.allow==false)
                    var tr = `<tr class="ctr" style="background: #ffcccc" cid="${client.id}">`;
                else
                    var tr = `<tr class="ctr" cid="${client.id}">`;

                var markup = tr
                    +fullname(client)
                    +category(client)
                    +contact(client)
                    +added(client)
                    +submitted(client)

                    {%if user.is_superuser%}
                    +entU(client)
                    {%endif%}
                    
                    +action(client)

                    +"</tr>";
                $('table tbody').append(markup);
                return markup;
            }

            $("#srcbtn").click(function(){
                var search_text = $("#search_text").val();
                
                $.ajax({
                    type: "GET",
                    url: "{% url 'search_clients' %}",
                    dataType: "json",
                    data:{
                        value:search_text
                    },
                    success: function(data) {        
                        var clients = data.clients;
                        $('tbody').empty();
                        $('#loadMoreBtn').hide();
                        clients.forEach(add_row);

                    },
                });
                
            })
        });
        
    </script>

    {%endblock%}