{%extends 'liscence/base.html'%}
{%load static%}
{%block title%} HOME {%endblock%}
{%block head%}
    <style>
        #menu {
            border:1px dotted black;
            padding: 0;
            display:table;
            width:100%;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
        }

        .sub-cap{
          margin:10px;
          display:inline;
          margin-left:6px;
        }
        .spin-sub:hover + .sub-close{
            color:black;
            display:block;
        }
        .li-b{
            display:inline;
        }
        @media only screen and (max-width: 540px) {
        .li-b{
            position:absolute;
            margin-left:10px;
            margin-top:1px;
        }
          .li-img, .li-in{

            display:block;
            }
          #menu li {
            padding-bottom:100px;
          }
          .sub-cap{
              margin:0;
              padding:0;
              display:block;
              margin-left:260px;
            }
          .li-b input{
            margin-top:20px;
            }
        }

    </style>
{%endblock%}
{%block content%}

<button style="font-weight:bold;" type="button" class="btn btn-primary w-100" id="triggerAll">
    Get All <span style="color:yellow;font-size:20px;">({{counts}})</span>
</button>
<hr style="background-color:black;margin-bottom:0;">
<ul id="menu">
    {%for client in clients%}
        <div style="padding:0;margin:0;font-weight:bold;">{{client.full_name}}</div>
        <li style="list-style-type:none;margin-bottom:4px;height:70px;" class="menu-li" id="menu-li{{client.id}}">
            {% csrf_token %}
            <button class="get-cap reload{{client.id}}" style="display:inline;">
                <i class="fa fa-refresh" style="font-size:35px;color:blue;"></i>
            </button>
            <div style="display:inline;" class="span{{client.id}}"></div>
            <input type="hidden" name="client_id" value="{{client.id}}">
        </li>
        <hr style="background-color:black;;margin:0;">
    {%endfor%}
</ul>

<button type="button" class="font-weight-bold w-100 btn btn-danger mb-4 p-3" id="submitAll">
    Submit All
</button>

<script>
    $(document).ready(function(){
      {%for client in clients%}
          $(document).on('click', '.reload{{client.id}}', function(event){
             event.preventDefault();
             $("#submit{{client.id}}").html('<i style="font-size:40px;color:red;"type="submit" class="fa fa-arrow-right"></i>');

             $('#menu-li{{client.id}}').css("background","");
             $(".reload{{client.id}}").html('<i class="fa fa-refresh fa-spin" style="font-size:32px;color:blue;"></i>');
             $.ajax({
                  type:'POST',
                  url:'{% url "ajax_captcha_entry" %}',
                  dataType: 'json',
                  data:{
                        'csrfmiddlewaretoken':'{{ csrf_token }}',
                        },
                  success: function(data){
                    fm = `
                            <input type="hidden"  id="session{{client.id}}" value="${data.sess}">

                            <div style="display:inline" class='li-b'>
                                <img class='li-img' style="margin:0;padding:0;" src="${data.img_url}">
                                <input class='li-in' type="text" style="margin:0;padding:0;" id="captcha{{client.id}}" >
                            </div>

                            <button style="position:absolute;" class="sub-cap" id='submit{{client.id}}'>
                                <i style="font-size:40px;color:red;"type="submit" class="fa fa-arrow-right"></i>
                                <i class="fa fa-close sub-close" style="position:absolute;display:none;font-size:40px;color:red"></i>
                            </button>
                          `;
                  $(".span{{client.id}}").html(fm);
                  $(".reload{{client.id}}").html('<i class="fa fa-refresh" style="font-size:35px;color:blue;"></i>');
                  },
             });
          });
          $(document).on('click', '#submit{{client.id}}', function(event){
             event.preventDefault();
             $("#submit{{client.id}}").html('<i class="fa fa-refresh fa-spin spin-sub" style="font-size:40px;color:red;"></i>');
             var session=$('#session{{client.id}}').val();
             var captcha=$('#captcha{{client.id}}').val();
             $.ajax({
                  type:'POST',
                  url:'{% url "ajax_submit_captcha" %}',
                  data:{'session':session,
                        'captcha':captcha,
                        'client_id':'{{ client.id }}',
                        'csrfmiddlewaretoken':'{{ csrf_token }}'
                        },
                  dataType: 'json',

                  success: function(data){
                    fm = `<span style="font-weight:bold;" class="p-3 mb-0 text-white">${data.info}</span>`;
                    if (data.submitted)
                        $('#menu-li{{client.id}}').css("background","green");
                    else
                        $('#menu-li{{client.id}}').css("background","red");
                    $(".span{{client.id}}").html(fm);
                    $("#submit{{client.id}}").css("display","none");
               },

             });
          });
      {%endfor%}
    });

    $('#triggerAll').on('click',function(){
        $('.get-cap').trigger('click');
    });
    $('#submitAll').on('click',function(){
            $('.sub-cap').trigger('click');
        });

</script>
{%endblock%}
