{%extends 'liscence/base.html'%}
{%load static%}
{%block title%} HOME {%endblock%}
{%block head%}
    <style>
        #menu {
            border:1px dotted black;
            padding: 0;
            display:table;
            width:100%;
            box-sizing:border-box;
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
        }

        .sub-cap{
          margin:10px;
          display:inline;
          margin-left:6px;
        }
        .spin-sub:hover + .sub-close{
            color:black;
            display:block;
        }
        .li-b{
            display:inline;
        }
        @media only screen and (max-width: 540px) {
        .li-b{
            position:absolute;
            margin-left:10px;
            margin-top:1px;
        }
          .li-img, .li-in{

            display:block;
            }
          #menu li {
            padding-bottom:100px;
          }
          .sub-cap,.next-cap{
              margin:0;
              padding:0;
              display:block;
              margin-left:260px;
            }
          .li-b input{
            margin-top:20px;
            }
        }

    </style>
{%endblock%}
{%block content%}

<button style="font-weight:bold;" type="button" class="btn btn-primary w-100" id="triggerAll">
    Get All <span style="color:yellow;font-size:20px;">({{counts}})</span>
</button>
<hr style="background-color:black;margin-bottom:0;">
{% csrf_token %}
<ul id="menu">
    {%for client in clients%}
        <div style="padding:0;margin:0;font-weight:bold;">
            {{client.full_name}}
            {%if client.statusType == "newlicense" %}
                <span style="color:red">(NEW - {{client.category}})</span>
            {%else%}
                <span style="color:green;">(ADD - {{client.category}})</span>
            {%endif%}

        </div>
        <li style="list-style-type:none;margin-bottom:4px;height:70px;" class="menu-li">
            <button id='gc{{client.id}}' class="get-cap" style="display:inline;">
                <i class="fa fa-refresh" style="font-size:35px;color:blue;"></i>
            </button>

            <div style="display:inline;" id='cap' class="afterLoaded"></div>
            <!-- <div style="display:inline;" id='cap2' class="afterLoaded"></div>            -->

            <input type="hidden" name="client_id" value="{{client.id}}">
        </li>
        <hr style="background-color:black;;margin:0;">
    {%endfor%}
</ul>

<button type="button" class="font-weight-bold w-100 btn btn-danger mb-4 p-3" id="submitAll">
    Submit All
</button>
{%endblock%}
{%block script%}
<script type="text/javascript">

    function wait(ms) {
        return new Promise((resolve, reject) => {
            setTimeout(() => {
            resolve(ms)
            }, ms )
        })
    } 


    $(document).ready(function(){

        $(document).on('click', '.get-cap', async function(event){
            $(this).parents('.menu-li').css("background","white");
            $(this).html('<i class="fa fa-refresh fa-spin spin-sub" style="font-size:40px;color:blue;"></i>')
            $.ajax({
              async:true,
              type:'POST',
              url:'{% url "ajax_captcha_entry" %}',
              data:{
                'csrfmiddlewaretoken':'{{ csrf_token }}'
              },
              dataType: 'json',

              success: (data) => {                      
                var sess = data.sess;
                var fm = `
                    <input type="hidden" name="cookie" value="${sess}">
                    <div style="display:inline" class='li-b'>
                        <img class='li-img' style="margin:0;padding:0;" src="${data.img_url}">
                        <input name="captcha_text" class='li-in' type="text" style="margin:0;padding:0;" >
                    </div> 
                    <button style="position:absolute;" class="next-cap">
                        <i style="font-size:20px;color:red;"type="submit" class="fa fa-arrow-right">Next</i>
                        <i class="fa fa-close sub-close" style="position:absolute;display:none;font-size:40px;color:red"></i>
                    </button>             
                `;
                $(this).siblings('div.afterLoaded').html(fm);
                $(this).html('<i class="fa fa-refresh" style="font-size:35px;color:blue;"></i>'); 

                $('input.li-in').bind('enterKey', function(e){
                    $(this).parents('.li-b').siblings('button').click();
                });
                $('input.li-in').keyup(function(e){                    
                    if(e.keyCode == 13)
                    {
                        $(this).trigger("enterKey");
                    }
                });  

              },
            });                    
        });
        
        

        $(document).on('click','.next-cap',function(event){
            event.preventDefault();
            var session=$(this).siblings("input[name='cookie']").val();
            var client_id = $(this).parents("li").children("input[name='client_id']").val();
            var captcha = $(this).siblings("div.li-b").children('input[name="captcha_text"]').val();
            $(this).html('<i class="fa fa-refresh fa-spin spin-sub" style="font-size:40px;color:red;"></i>');
            $.ajax({
                type:'POST',
                url:'{%url "ajax_submit_client"%}',
                data:{
                    'session':session,
                    'captcha':captcha,
                    'client_id':client_id,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                },
                dataType: 'json',

                success:(data)=>{
                    if (data.statusType == 'addcategory'){

                        fm = `<span style="font-weight:bold;" class="p-3 mb-0 text-white">${data.info}</span>`;
                        if (data.submitted)
                            $(this).parents('.menu-li').css("background","green");
                        else
                            $(this).parents('.menu-li').css("background","red");
                        $(this).parents("div.afterLoaded").html(fm);
                        $(this).css("display","none");
                    }
                    else
                    {
                        var fm = `
                            <input type="hidden" name="cookie" value="${session}">
                            <div style="display:inline" class='li-b'>
                                <img class='li-img' style="margin:0;padding:0;" src="${data.img_url}">
                                <input name="captcha_text" class='li-in' type="text" style="margin:0;padding:0;" >
                            </div> 
                            <button style="position:absolute;" class="sub-cap">
                                <i style="font-size:40px;color:red;"type="submit" class="fa fa-arrow-right"></i>
                                <i class="fa fa-close sub-close" style="position:absolute;display:none;font-size:40px;color:red"></i>
                            </button>             
                        `;
                        
                        $(this).parents("div.afterLoaded").html(fm);
                        $(this).html('<i class="fa fa-refresh" style="font-size:35px;color:blue;"></i>');

                        $('input.li-in').bind('enterKey', function(e){
                            $(this).parents('.li-b').siblings('button').click();
                        });
                        $('input.li-in').keyup(function(e){                    
                            if(e.keyCode == 13)
                            {
                                $(this).trigger("enterKey");
                            }
                        });
                    }
                }
            })
        });


        $(document).on('click','.sub-cap',function(event){
            event.preventDefault();
            var session=$(this).siblings("input[name='cookie']").val();
            var client_id = $(this).parents("li").children("input[name='client_id']").val();
            var captcha = $(this).siblings("div.li-b").children('input[name="captcha_text"]').val();
            $(this).html('<i class="fa fa-refresh fa-spin spin-sub" style="font-size:40px;color:red;"></i>');
            
            $.ajax({
                type:'POST',
                url:'{%url "ajax_save_client"%}',
                data:{
                    'session':session,
                    'captcha':captcha,
                    'client_id':client_id,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
                },
                dataType: 'json',

                success:(data)=>{
                    fm = `<span style="font-weight:bold;" class="p-3 mb-0 text-white">${data.info}</span>`;
                    if (data.submitted)
                        $(this).parents('.menu-li').css("background","green");
                    else
                        $(this).parents('.menu-li').css("background","red");
                    $(this).parents("div.afterLoaded").html(fm);
                    $(this).css("display","none");
                }
            })
        });
    });
    $(document).on('click','#triggerAll',function(){
        const buttons = document.getElementsByClassName('get-cap');
        for(var i = 0; i <= buttons.length; i++)  
            buttons[i].click();
    });
    $('#submitAll').on('click',function(){
        $('.sub-cap').trigger('click');
    });

</script>
{%endblock%}
